/****** Object:  Table [dbo].[Movies]    Script Date: 30/11/2021 10:27:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[MovieID] [nvarchar](50) NOT NULL,
	[MovieTitle] [nvarchar](50) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Rating] [nvarchar](50) NOT NULL,
	[RunTimeMin] [tinyint] NOT NULL,
	[ReleaseDate] [date] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Movies] ([MovieID], [MovieTitle], [Category], [Rating], [RunTimeMin], [ReleaseDate]) VALUES (N'2F49D5AF-B5C1-4B87-B426-002881C6B2DC', N'Card Spark', N'Romance', N'R', 103, CAST(N'2018-02-13' AS Date))
INSERT [dbo].[Movies] ([MovieID], [MovieTitle], [Category], [Rating], [RunTimeMin], [ReleaseDate]) VALUES (N'6260DE1C-81BC-48B8-BE49-007D629CBE9A', N'Cube Lake', N'Science Fiction', N'PG-13', 186, CAST(N'2018-03-13' AS Date))
INSERT [dbo].[Movies] ([MovieID], [MovieTitle], [Category], [Rating], [RunTimeMin], [ReleaseDate]) VALUES (N'3F0E40A9-330F-40A9-968D-008A68597FA6', N'Brick Destiny', N'Science Fiction', N'R', 182, CAST(N'2018-02-13' AS Date))
GO
